*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

#center {
    height: 60%;
    width: 50%;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(232, 230, 230, 0.276);
    cursor: pointer;
}

#center>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50% -50%);
}
